<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>TechHub Payments</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
  <style media="screen">
    .small-section {
      padding: 20px 0;
    }

    .container-small {
      max-width: 700px;
    }

    .logo {
      max-width: 120px;
      margin: 10px;
    }

    .stripe {
      max-height: 26px;
    }

    [ng\:cloak],
    [ng-cloak],
    [data-ng-cloak],
    [x-ng-cloak],
    .ng-cloak,
    .x-ng-cloak {
      display: none !important;
    }

    .location-logo {
      font-size: 1.7em;
    }
  </style>
</head>

<body class="ng-cloak" ng-app="thPayments">
  <div class="container container-small">
    <div class="text-center">
      <img alt="logo" class="logo" src="https://d1e6a3jvdxo3ln.cloudfront.net/images/website/techhub_3d_logo_png.png">
      <span class="location-logo">London</span>
    </div>

    <div class="payment-view">

      <div ng-controller="paymentsLondonCtrl">
        <div class="row">
          <div class="col-sm-6">
            <h3>Select items</h3>
            <form>
              <div class="checkbox" ng-repeat="item in items">
                <label>
                  <input id="{{item.id}}" ng-click="toggleItem($index)" type="checkbox" value="{{item.value}}"> {{item.description}} ({{item.value / 100 | currency : '£' : 0}})
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input id="customItem" ng-click="toggleCustom()" ng-model="customItemLondon" type="checkbox"> Custom item
                </label>
              </div>
              <div class="form-group" ng-show="customItemLondon">
                <label for="customDescription">Description</label>
                <input class="form-control" id="customDescription" name="customDescription" ng-change="updateCustom()" ng-model="customDescription" type="text">
              </div>
              <div class="form-group" ng-show="customItemLondon">
                <label for="customValue">Amount</label>
                <input class="form-control" id="customValue" name="customValue" ng-change="updateCustom()" ng-model="customValue" type="number">
              </div>
            </form>
          </div>
          <div class="col-sm-6">
            <h3>Details</h3>
            <div class="form-group">
              <label for="fullName">Full Name</label>
              <input class="form-control" id="fullName" name="fullName" ng-model="fullName" type="text">
            </div>
            <div class="form-group">
              <label for="company">Company</label>
              <input class="form-control" id="company" name="company" ng-model="company" type="text">
            </div>
            <table class="table table-bordered">
              <thead>
                <th>Item</th>
                <th>£</th>
              </thead>
              <tbody>
                <tr ng-repeat="item in selectedItems" ng-show="item.value > 0">
                  <td>{{item.description}}</td>
                  <td>{{item.value / 100 | currency : '£' : 2}}</td>
                </tr>
                <tr>
                  <td>
                    <strong>Total</strong>
                  </td>
                  <td>
                    <strong>{{total / 100 | currency : '£' : 2}}</strong>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="small-section">
              <button class="btn" id="customButton" ng-class="{'btn-default':buttonLoading, 'btn-primary':!buttonLoading}" ng-click="pay()">
                <span ng-hide="buttonLoading">Pay now</span>
                <span ng-show="buttonLoading">
                  <i class="fa fa-lg fa-spin fa-refresh"></i>
                </span>
              </button>
            </div>
            <div class="small-section">
              <p class="text-danger">{{error}}</p>
            </div>
          </div>
        </div>
        <div class="text-center small-section">
          <img alt="stripe" class="stripe" src="stripe.png">
        </div>
      </div>
    </div>

    <div class="thanks-view hidden text-center" ng-controller="thanksCtrl">
      <h1>Everything okay, thanks!</h1>
      <div class="small-section">
        <a class="btn btn-primary btn-lg" ng-click="reset()">Take another payment</a>
      </div>
      <img alt="thanks" class="img-responsive" src="https://cdn.techhub.com/images/techhub_gingerbread_man.jpg">
    </div>

  </div>

  <script src="https://checkout.stripe.com/checkout.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
  <script type="text/javascript"></script>
  <script>
    if (window.location.hostname.indexOf('localhost') > -1) {
      window.stripeKey = 'pk_test_9wkm1wXbrApEBDliBmirnkAG';
    } else {
      window.stripeKey = 'pk_live_uc40nu4QYGSUXFFHAPRnthVl';
    }
  </script>
  <script src="main.js"></script>
  <script src="london.js"></script>
</body>

</html>
