<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>TechHub Payments</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
  <style media="screen">
    .small-section {
      padding: 20px 0;
    }

    .container-small {
      max-width: 700px;
    }

    .logo {
      max-width: 120px;
      margin: 10px;
    }

    .stripe {
      max-height: 26px;
    }

    [ng\:cloak],
    [ng-cloak],
    [data-ng-cloak],
    [x-ng-cloak],
    .ng-cloak,
    .x-ng-cloak {
      display: none !important;
    }

    .location-logo {
      font-size: 1.7em;
    }
  </style>
</head>

<body class="ng-cloak" ng-app="thPayments">
  <div class="container">
    <div class="text-center">
      <img alt="logo" class="logo" src="https://d1e6a3jvdxo3ln.cloudfront.net/images/website/techhub_3d_logo_png.png">
      <span class="location-logo">Warsaw</span>
    </div>

    <div class="payment-view">
      <div ng-controller="paymentsWarsawCtrl">
        <div class="row">
          <div class="col-sm-4">
            <h3>Select items</h3>
            <form>
              <div class="form-group">
                <label for="givenName">Given Name</label>
                <input class="form-control" name="givenName" ng-model="givenName" type="text">
              </div>
              <div class="form-group">
                <label for="surname">Surname</label>
                <input class="form-control" name="surname" ng-model="surname" type="text">
              </div>
              <div class="form-group">
                <label for="company">Company</label>
                <input class="form-control" name="company" ng-model="company" type="text">
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input class="form-control" name="email" ng-model="email" type="text">
              </div>
            </form>
          </div>
          <div class="col-sm-4">
            <h3>Details</h3>
            <table class="table table-bordered">
              <thead>
                <th>Item</th>
                <th>PLN</th>
              </thead>
              <tbody>
                <tr ng-repeat="item in selectedItems" ng-show="item.value > 0">
                  <td>{{item.description}}</td>
                  <td>{{item.value | currency : 'PLN' : 2}}</td>
                </tr>
                <tr>
                  <td>
                    <strong>Total</strong>
                  </td>
                  <td>
                    <strong>{{total | currency : 'PLN' : 2}}</strong>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="checkbox" ng-repeat="item in items">
              <label>
                <input id="{{item.id}}" ng-click="toggleItem($index)" type="checkbox" value="{{item.value}}"> {{item.description}} ({{item.value | currency : 'PLN' : 2}})
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input ng-click="toggleCustom()" ng-model="customItem" type="checkbox"> Custom item
              </label>
            </div>
            <div class="form-group" ng-show="customItem">
              <label for="customDescription">Description</label>
              <input class="form-control" name="customDescription" ng-change="updateCustomWarsaw()" ng-model="customDescription" type="text">
            </div>
            <div class="form-group" ng-show="customItem">
              <label for="customValue">Amount</label>
              <input class="form-control" name="customValue" ng-change="updateCustomWarsaw()" ng-model="customValue" type="number">
            </div>
          </div>
          <div class="col-sm-4">
            <form id="form-warsaw" ng-submit="pay()" style="margin-top:55px;">
              <div id="ui-warsaw"></div>
              <input name="amount" ng-value="total" type="hidden">
              <button class="btn btn-primary btn-lg" ng-disabled="buttonLoading">
                <span ng-hide="buttonLoading">Pay now</span>
                <span ng-show="buttonLoading">
                  <i class="fa fa-lg fa-spin fa-refresh"></i>
                </span>
              </button>
            </form>
            <div class="small-section">
              <p class="text-danger">{{error}}</p>
            </div>
          </div>
        </div>
        <div class="text-center small-section">
          <a href="https://www.braintreegateway.com/merchants/rchrgpny9c7zwnsn/verified" target="_blank">
            <img border="0" height="44px" src="https://s3.amazonaws.com/braintree-badges/braintree-badge-wide-dark.png" width="280px" />
          </a>
        </div>
      </div>
    </div>

    <div class="thanks-view hidden text-center" ng-controller="thanksCtrl">
      <h1>Completed! Thank you!</h1>
      <div class="small-section">
        <a class="btn btn-primary btn-lg" ng-click="reset()">Take another payment</a>
      </div>
      <img alt="thanks" class="img-responsive" src="https://cdn.techhub.com/images/techhub_gingerbread_man.jpg">
    </div>

  </div>

  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
  <script type="text/javascript"></script>
  <script>
    window.braintreeToken = '<%= braintreeToken %>';
  </script>
  <script src="main.js"></script>
  <script src="warsaw.js"></script>
</body>

</html>
